doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='./css/bootstrap.min.css', rel='stylesheet')
    title Poker Game
    link(rel='stylesheet', type='text/css', href='./stylesheets/play.css')
    script(src='./javascripts/jquery-3.1.0.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/app_config.js')
    script(src='./javascripts/play.js')
  body
    .title
      h1 扑克牌模拟器
    .option-container
      select#ts
        option(value="3") 3人
        option(value="4", selected=true) 4人
      input(type="button", id="num_players", value="OK")
      label 发牌起始位
      select#fs
        option(value="1") 玩家1
        option(value="2") 玩家2
        option(value="3") 玩家3
        option(value="4")#fs4 玩家4
      input(type="button", id="reload_page", value="重新开始")
    .page-container
      h2 牌面
      table.table-fill.table.table-striped
        tbody.table-hover
          tr(id="player_row_2", class="player_container")
            td(rowspan="2", colspan="2")
            td(id = "player_2", class="text-left") 玩家 3
            td(id="player2", class="card_container")
            td(rowspan="2", colspan="2")
          tr
            td
              input(type="button", value="排序", id="sort_2", class="sort_btn")
              input(type="button", value="叫牌", id="call_2", class="call_btn")
            td(id="player_r2", class="card_container")
          tr(id="player_row_1", class="player_container")
            td(id ="player_1", class="text-left") 玩家 2
            td(id="player1", class="card_container")
            td(rowspan="2", colspan="2")
            td(id ="player_3", class="text-left") 玩家 4
            td(id="player3", class="card_container")
          tr
            td
              input(type="button", value="排序", id="sort_1", class="sort_btn")
              input(type="button", value="叫牌", id="call_1", class="call_btn")
            td(id="player_r1", class="card_container")
            td
              input(type="button", value="排序", id="sort_3", class="sort_btn")
              input(type="button", value="叫牌", id="call_3", class="call_btn")
            td(id="player_r3", class="card_container")
          tr(id="player_row_0", class="player_container")
            td(rowspan="2", colspan="2")
            td(id = "player_0", class="text-left") 玩家 1
            td(id="player0", class="card_container")
            td(rowspan="2", colspan="2")
          tr
            td
              input(type="button", value="排序", id="sort_0", class="sort_btn")
              input(type="button", value="叫牌", id="call_0", class="call_btn")
            td(id="player_r0", class="card_container")

          //- for (var i = 0; i < 4; i++)
          //    tr(id='player_row_'+i, class="player_container")
          //      td(id = "player_"+i, class="text-left") 玩家 #{i+1}
          //        input(type="button", value="排序", id="sort_"+i, class="sort_btn")
          //        input(type="button", value="叫牌", id="call_"+i, class="call_btn")
          //      td(id='player'+i, class="card_container")
          //        //- var cards = players[i].cards
          //        //- if (players[i].sorted == false)
          //        //    each card in cards
          //        //      .brightness
          //        //        img(src="./images/cards/K2.jpeg", height="100")
          //      td(id="player_r"+i, class="card_container")
          tr
            td 底牌
            td(id='under', class="card_container")


    .choose-panel
      table
        h2 选牌
        .choose-container
          input(type="text", id="cid", placeholder="卡编号")
          input(type="button", id="cid_btn", value="确认")
          #cid_notfound.error
        - for (var i = 0; i < 4; i++)
          tr
            - for (var j = 0; j < 13; j++)
              td
                .brightness
                  img(id=i+"_"+j, src="./images/cards/"+i+"_"+j+".jpeg", height="100", class="card2choose")
        tr
          td
            .brightness
              img(id="4_0", src="./images/cards/4_0.jpeg", height="100", class="card2choose", hidden="")
          td
            .brightness
              img(id="4_1", src="./images/cards/4_1.jpeg", height="100", class="card2choose", hidden="")

    .play-container
      h2 牌池
      #card_container.cards_pool

